.card {
  position: relative;
  margin: 20px;
  &__img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 550px) {
  .card__img {
    width: 335px;
    height: 255px;
  }
}
