.collapse {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorprimary;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  &__icon {
    background-color: inherit;
  }
  &__text {
    background-color: $colorsecondary;
    border-radius: 5px;
    font-weight: 400;
    color: $colorprimary;
    padding: 1rem;
  }
  &__list {
    font-weight: 400;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.collapseBloc {
  margin: 3rem auto;
}

@media screen and (max-width: $breakpad) {
  .collapse {
    &__title {
      font-size: 0.8rem;
      padding: 0.5rem 0.8rem;
    }
    &__text {
      font-size: 0.8rem;
      padding: 0.8rem;
    }
    &__list {
      font-size: 0.8rem;
    }
    &__icon {
      width: 15px;
      height: 20px;
    }
  }
}

@media screen and (max-width: $breakphone) {
  .collapse {
    &__title {
      font-size: 0.5rem;
      padding: 0.3rem 0.5rem;
    }
    &__text {
      font-size: 0.5rem;
      padding: 0.5rem;
    }
    &__list {
      font-size: 0.5rem;
    }
    &__icon {
      width: 9px;
      height: 15px;
    }
  }
}
