@import "variables";
@import "base";
@import "typo";

@import "Footer";
@import "Error";
@import "Header";
@import "Banner";
@import "Card";
@import "Gallery";
@import "Collapse";
@import "House";
@import "Carrousel";

body {
  margin: 20px 100px;
}

@media screen and (max-width: $breakpad) {
  body {
    margin: 20px 60px;
  }
}

@media screen and (max-width: $breakphone) {
  body {
    margin: 20px;
  }
}
