@import "variables";
@import "base";
@import "typo";

@import "Footer";
@import "Error";
@import "Header";
@import "Banner";
@import "Card";
@import "Gallery";
@import "Collapse";
@import "House";
@import "Carrousel";

body {
  // margin: 20px 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

@media screen and (max-width: $breakpad) {
  body {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: $breakphone) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
